venv/
antlr_builds/
/src/speakql_translator/antlr_builds/
/app/src/speakql_translator/antlr_builds/
app/src/speakql_translator/__pycache__
*/__pycache__/*
*__pycache__*


*.pyc

update_react_app.ps1

db_info.json