venv/
antlr_builds/
/src/speakql_translator/antlr_builds/
/app/src/speakql_translator/antlr_builds/
app/src/speakql_translator/__pycache__
app/src/speakql_speech_recognition/local/
*/__pycache__/*
*__pycache__*
bin/
.aws/

*.pyc
*.mp3

update_react_app.ps1

*db_info.json

select_tokens.txt
/artifacts/token_permutations